/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, dialog, figure, footer, header, 
hgroup, nav, section, blockquote { 
	display: block;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #eee;
	cursor:help;
}

input[type="submit"], input[type="button"], button {
    padding: auto 0.5em;
    margin: 0;
}

/* start */
html {
	background: #fff;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 1em;
	line-height: 1.25em;
}

#container {
	margin: 3em auto 1em;
	position: relative;
	width: 98%;
	max-width: 60em;
}

h1 {
	font-size: 6em;
	display: inline;
	margin: 1em 0;
	letter-spacing: -0.1em;
}

h2 {
	font-size: 1.5em;
	margin: 0.5em 0 1em;
}

h3 {
	font-size: 1.5em;
	margin: 0.5em 0;
}

h4 {
	font-size: 1.2em;
	margin: 1em 0 0.5em;
}

header {
	width: 49%;
	float: left;
}

nav {
	margin: 1em 0;
}

nav ul {
	list-style: none;
	margin: 1em 0;
}

nav ul li {
	display: inline;
	padding: 0.5em 2em;
	border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

aside#intro {
	margin: 0;
	width: 49%;
	float: right;
	color: #666;
}

aside#intro p {
	margin: 0 0 1em;
}

section {
	float: left;
	width: 75%;
	margin-bottom: 1em;
}

footer {
	color: #ccc;
	background: #000;
	margin: 1em 0;
	padding: 0.5em 2em;
	clear: both;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

.col {
	float: left;
	height: 8em;
	width: 50%;
	margin-right: 2em;
	border-right: 1px solid #ccc;
}

p {
	margin: 1em 0;
}

a {
	color: #f00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 a:hover {
	text-decoration: none;
}

textarea, .textbox {
	width: 98%;
	margin: 1em 0;
}

strong {
	
}

sup {
	font-size: 0.5em;
	vertical-align: super;
}

.left {
	float: left;
	margin-right: 2em;
}

.resource {
	margin: 0.5em 0;
	float: left;
	width: 100%;
	border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;		
}

.comments {
	margin: 0.5em 0;
	float: left;
	padding: 0.5em 1em;
	border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;		
}

.vote {
	width: 10%;	
	float: left;
	padding: 0.5em 1em;
	text-align: center;
}

.vote h3 {
	margin: 0.5em 0 0.1em;	
}

.points {
	margin-top: 0.2em;
}

.date {
	font-size: 0.8em;
}

.data {
	float: left;
	padding: 0.5em 1em;
	border-left: 1px solid #ccc;
	width: 80%;
}

.full {
	background: #000;
	padding: 0.2em 0.5em;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

aside {
	width: 23%;
	float: right;
}

#contribute {
	margin: 0.5em 0 1em;
	text-align: center;
	width: 100%;
	background: #000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

#register {
	position: absolute;
	width: 42em;
	z-index: 100;
	display: none;
	background: #fff;
	padding: 2em;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}

#register form {
	width: 318px;
	float: left;
}

#login {
	margin-left: 2em;
}

#reg {
	margin-top: 1em;
}

#exit {
	clear: both;
	float: right;
}
